# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Virtual environment
.venv*/
venv*/
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
.env*.local

# Database
*.db
*.sqlite

# Python
*.py[cod]
*$py.class

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db